body {
  background-color: #333;
}
.sidebar-menu li.headeryellow {

    padding: 13px 25px 13px 15px;
    font-size: 14px;
    font-weight: bold;
}

.sidebar-form, .sidebar-menu > li.headeryellow {

    background-color: #F39C12 !important;
    color: #f0f0f0 !important;
}



.sidebar-menu li.headergreen {
    /*margin-top: 1px;*/
    padding: 13px 25px 13px 15px;
    font-size: 14px;
    font-weight: bold;
    
}

.sidebar-form, .sidebar-menu > li.headergreen {

    background-color: #00A65A !important;
    color: #f0f0f0 !important;
}
